
body {
    background-color: peru;
}

.container {
    max-width: 1150px
}

.jumbo {
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-color: peru;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding : 5px;
}

.right {
    float: right;
    padding-top: 20px
}

.jumbotron img {
    float: left;
    height: 200px;
}

.clearfix::after {
	content: “”;    
	display: block;
	clear: both;
} 

.add-box {
    background-color: lightgrey;
    height: 150px;
    width: 600px;
    border: 1px solid grey;
    border-radius: 8px;
}

.redtext1 {
    color: red;
    font-size: 20px;
}

.to-text {
    font-weight: bold;
    font-size: 20px;
    padding: 0 5px 0 15px;
}

.customer-select {
    width: 200px;
    height: 28px;
    margin-top: 12px
}

.customer-option {
    padding: 5px;
}

.eat-burger {
    width: 100px;
    margin: 5px;
    border-radius: 10px;
}

.eat-burger:hover {
    font-weight: bold;
    
}

.redtext2 {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.eaten-text1 {
    font-weight: bold;
    font-size: 16px;
    margin: 0 6px 0 24px

}
.eaten-text2 {
    font-size: 16px;
    font-weight: bold;
}

